* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: sans-serif;
}

.body {
  display: grid;
  place-items: center;
  background-color: #f9f2fe;
  margin: 15vh;
}

.container {
  display: grid;
  height: 600px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 100%;
  width: 400px;
  padding: 30px;
  gap: 20px;
  position: relative;
}

.container::before {
  content: "";
  background: linear-gradient(90deg, #788de6, #a469db);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(20px);
}

.user-form {
  display: grid;
  gap: 20px;
}

h1 {
  justify-self: center;
  background: -webkit-linear-gradient(#788de6, #a469db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input,
select,
textarea {
  border: none;
  outline: transparent;
  border-bottom: 1px solid #f3dff7;
  font-size: 18px;
}

label {
  font-size: 14px;
}

textarea {
  resize: vertical;
}

.submit-button {
    border: none;
    border-radius: 20px;
    height: 40px;
    background-image: linear-gradient(to right, #bb58d6 , #5f9fec);
    color: aliceblue;
}